@mixin sm {
  & {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
}
@mixin md {
  & {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
}
@mixin lg {
  & {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
}
@mixin xl {
  & {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}
@mixin xxl {
  & {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }
}

@mixin not-xsm {
  & {
    @media screen and (max-width: 390px) {
      @content;
    }
  }
}

@mixin not-sm {
  & {
    @media screen and (max-width: 575px) {
      @content;
    }
  }
}
@mixin not-md {
  & {
    @media screen and (max-width: 767px) {
      @content;
    }
  }
}
@mixin not-lg {
  & {
    @media screen and (max-width: 991px) {
      @content;
    }
  }
}
@mixin not-xl {
  & {
    @media screen and (max-width: 1199px) {
      @content;
    }
  }
}
@mixin not-xxl {
  & {
    @media screen and (max-width: 1599px) {
      @content;
    }
  }
}

@mixin responsive($property, $value: false, $sm: false, $md: false, $lg: false, $xl: false, $xxl: false) {
  @if $value {
    #{$property}: $value;
  }
  @if $sm {
    @include sm {
      #{$property}: $sm;
    }
  }
  @if $md {
    @include md {
      #{$property}: $md;
    }
  }
  @if $lg {
    @include lg {
      #{$property}: $lg;
    }
  }
  @if $xl {
    @include xl {
      #{$property}: $xl;
    }
  }
  @if $xxl {
    @include xxl {
      #{$property}: $xxl;
    }
  }
}

@mixin responsive-box($height) {
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-top: $height;
  }
}

$font-lock-min: 400px !default;
$font-lock-max: 2000px !default;

//  font-size
@mixin font-size(
  $min,
  // font-size
  $max: null,
  // optional maximum font size
  $lock-min: $font-lock-min,
  // optional minimum viewport width
  $lock-max: $font-lock-max // optional maximum viewport width
) {
  & {
    font-size: $min;
  }
  @if $max {
    @media (min-width: $lock-min) {
      & {
        font-size: calc(#{$min} + #{($max) - num($min)} * (100vw - #{$lock-min}) / #{num($lock-max) - num($lock-min)});
      }
    }
    @media (min-width: $lock-max) {
      & {
        font-size: $max;
      }
    }
  }
}
